VisualElement {}

.canvas{
	display: flex;
	width: 100%;
	height: 100%;
}

VectorGraphic{
	height: 100%;
}

.draggable-node{
	width: 25px;
	height: 25px;
	border-radius: 100%;
	position: absolute;
	background-color: black;
}