:root
{
	display: flex;
	align-items: stretch;
}
#mainView
{
	width:100%;
	height:100%;
}

Toolbar > ToolbarButton
{

}

Toolbar > ToolbarSpacer
{
	width:50px;
}

Label
{
	-unity-text-align: middle-center;
	padding-right: 4px;
}

#runButton
{
	background-color: #aa6238;
}

#runButton:hover
{
	background-color: #aa5228;
}